# Ignore bundler config.
/.bundle

# Ignore other unneeded files.
*_definitions.yml
doc/
*.swp
*~
.project
.DS_Store
.secret
.idea/
*.ipr
*.iml
*.iws
irc.yml
*.sqlite3
Gemfile.lock
keep-alive
*.log
test/